swagger: '2.0'
host: api.na4lapy.org

info:
  version: "2.0.2"
  title: <NA4Łapy API>

paths:
  /files/removeall/{animalId}:
    delete:
      description: Usunięcie wszystkich zdjęć dla wybranego zwierzaka
      parameters:
        -
          name: animalId
          in: path
          description: id zwierzaka
          required: true
          type: string
      responses:
        200:
          description: OK

  /files/{id}:
    delete:
      description: Usunięcie zdjęcia o zadanym id
      parameters:
        -
          name: id
          in: path
          description: id zdjęcia
          required: true
          type: string
      responses:
        200:
          description: OK

    get:
      description: Pobranie zdjęcia o zadanym id (które występuje w obiekcie Animal jako filename
      parameters:
        -
          name: id
          in: path
          description: Nazwa zdjęcia (pobierana z API)
          required: true
          type: string
      responses:
        200:
          description: OK

  /files/{id}?profil={profil}:
    patch:
      description: Modyfikacja zdjęcia profilowego
      parameters:
        -
          name: id 
          in: path
          description: id modyfikowanego zdjęcia
          required: true
          type: string
        -
          name: profil
          in: path
          description: oznaczenie zdjęcia jako profilowe true/false
          required: true
          type: boolean
      responses:
        200:
          description: OK

  /files/upload/{filename}?animalId={animalId}&profil={profil}:
    post:
      description: Przesłanie zdjęcia zwierzaka
      parameters:
        -
          name: filename
          in: path
          description: nazwa pliku (pomijana później)
          required: true
          type: string
        -
          name: animalId
          in: path
          description: id zwierzaka do którego zostanie dodane zdjęcie
          required: true
          type: string
        -
          name: profil
          in: path
          description: oznaczenie zdjęcia jako profilowe true/false
          required: true
          type: boolean
      responses:
        200:
          description: OK

  /animals/getbyids:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      description: Pobranie listy obiektów typu `Animal` na podstawie tablicy `id`
      parameters:
        -
          name: ids
          in: body
          description: tablica id
          required: true
          schema:
            type: string
            description: tablica json o kluczu 'ids'
      responses:
        200:
          description: OK
          
  /animals/{id}:
    get:
      description: Pobranie obiektu typu `Animal` o zadanym `id`
      parameters:
        -
          name: id
          in: path
          description: id obiektu
          required: true
          type: number
          format: int
      responses:
        200:
          description: OK

  /animals:
    get:
      description: |
        Pobranie wszystkich obiektów typu `Animal`
        Opcjonalnie można użyć parametrów `page` oraz `size` w celu stronicowania wyniku.
      parameters:
        -
          name: size
          in: query
          description: rozmiar strony
          required: false
          type: number
          format: int
        -
          name: page
          in: query
          description: numer strony do pobrania (numerując od 0)
          required: false
          type: number
          format: int
      responses:
        200:
          description: OK
          
  /payment/hash/:
    post:
      description: |
        Endpoint służy do wyliczenia wartości hash wymaganej przez PayLane. Szczegóły w dokumentacji PayLane - secure form 
      parameters:
        -
          name: amount
          in: json
          description: Wysokość wpłaty
          required: true
          type: number
          format: int
        -
          name: currency
          in: json
          description: Waluta. Domyślnie - PLN
          required: true
          type: string
        -
          name: transaction_type
          in: json
          description: Typ transakcji zgodnie z dokumentacją PayLane 'S'
          required: true
          type: string
        -
          name: description
          description: Opis transakcji. Nie ma zbyt dużego znaczenia ale jest używany przy wyliczaniu hash'a
          required: true
          type: string
          
  /payment/form/:
    get:
      description: |
        Endpoint służy do inicjalizacji płatności. Zwraca stronę html która powinna być wyświetlona w przeglądarce. 
      responses:
        200:
          description: OK
        


