# Stop dance for na4lapyapi
# =======================
#
[Unit]
Description=Na4Lapy API Swift
After=network.target postgresql.service

[Service]
Type=forking
# PIDFile=/tmp/na4lapyapi.pid
User=na4lapy
ExecStart=/opt/Na4LapyAPI/scripts/n4l.sh start
ExecStop=/opt/Na4LapyAPI/scripts/n4l.sh stop
ExecReload=/opt/Na4LapyAPI/scripts/n4l.sh restart
[Install]
WantedBy=multi-user.target
