# Stop dance for na4lapyapi
# =======================
#
[Unit]
Description=Na4Lapy API DEVEL
After=network.target postgresql.service

[Service]
Type=forking
User=na4lapy
ExecStart=/etc/init.d/n4l-dev.sh start
ExecStop=/etc/init.d/n4l-dev.sh stop
ExecReload=/etc/init.d/n4l-dev.sh restart
[Install]
WantedBy=multi-user.target
